@keyframes spinLoader {
   from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 3;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: absolute;
  width: 150px;
  height: 150px;
  border: 6px solid transparent; 
  border-left-color: #346EDF;
  border-top: 8px solid #346EDF;
  border-bottom-width: 0; 
  border-radius: 50%;

  z-index: 4;
  animation-name: spinLoader;
  animation-duration: .10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.logo {
  width: 130px;
}
