.button {
  display: block;
  min-height: 42px;
  border: none;
  border-radius: 20px;
  font-weight: 700; 
  font-size: 15px;
  transition: background-color .5s ease;
  background-color: transparent;
  padding: 0;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }  

  & a {
    color: #fff; 
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 42px;
    
    & > span {
      pointer-events: none;
    }
  }
}

.primary {
  @extend .button;
  color: #fff;
  background-color: #34df3d;

  &:hover {
    background-color: #183e88;
  }
}

.light {
  @extend .button;
  color:#346EDF;
  border: 1px solid #346EDF;
  background-color: #fff;

  &:hover {
    background-color: #EAEAEA;
  }
}

.anchor {
  @extend .button;
  text-align: left;
  color: #346EDF;
  min-height: 30px;
  text-decoration: underline;
  padding: 0; 
  margin: 0;
  font-weight: 400;
}
