.container {
    width: 225px;
    height: 100vh;
}
.logo {
    width: 185px;
    margin: 20px;
}
.admin{
    text-align: end;
    position: absolute;
    top: 0;
    right: 8%;
}
.icono{
    margin: 5px;
}
.search {
    border: 1px;
    position: absolute;
    top: 20%;
    left: 21%;
    display: flex;
}

.button {
    position: relative;
    left: 87%;
}
