.container {
    width: 225px;
    height: 100vh;
}
.logo {
    width: 185px;
    margin: 20px;
}
.icono{
    margin: 5px;
}
.containerSide {
    background-color: #1E2933;
    height: 100vh;
    color: white;
    font-size: 1.1em;
}

.menu {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1em;
}

.linkMenu {
    list-style-type: none;
}

.link {
    color:white;
    font-size: 0.9em;
}
