.icono{
    margin: 5px;
}
.containerSide {
    background-color: #1E2933;
    height: 100vh;
    color: white;
    font-size: 1.1em;
}

.menu {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1em;
}

.linkMenu {
    display: none;
    list-style-type: none;
}

.link {
    color:white;
    font-size: 0.9em;
}
