.container {
  max-width: 400px;
}
p {
  color: #5d5e5f;
  margin-top: -28px;
}
.containerInput {
  padding: 20px 10px 20px 0;
}
.containerButton {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .containerInput {
    padding: 20px 30px 20px 0;
  }
}  
