.container {
  background-color: #EAFBFF;
  min-height: 100vh;
  display: flex;
  justify-content: center; 
}

.containerIlustration {
  align-self: center;
}

.containerForm {
  background-color: #fff;
  min-height: 80vh;
  padding: 20px 40px;
  min-width: 450px;
  min-height: 100%;
}

.signUp {
  font-weight: 600;
  text-align: right;
  color: #5d5e5f;

  & > * {
    font-weight: 700;
    margin-left: 8px;
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }
  }
}

.containerTitle { 
  padding: 30px 0;
  color: #444;
}

.welcomeText {
  padding: 0;
  margin: 0 0 8px 0;
  font-weight: 200;
  font-size: 15px;
}

.title {
  margin: 0; 
  padding: 0;
  font-weight: 600;
  font-size: 28px;
  color: #5D5E5F; 
}

.containerInput {
  padding: 20px 50px 20px 0;
}

.buttonAnchor {
  color: #346EDF;
  font-size: 15px;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  padding: 0; 
  margin-top: 8px;

  &:hover {
    cursor: pointer;
  }
}

.containerButtonCheckbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0; 
}

.containerCheckbox {
  & > * {
    vertical-align: middle;
  }
  
  & > input {
    width: 18px;
    height: 18px;
    margin-right: 7px;
  }

  & > label {
    font-size: 14px;
  }
}

.button {
  padding: 12px 35px;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 20px;
  background-color: #346EDF;
  font-weight: 600;
  font-size: 15.5px;
}
