.container {
  background-color: #EAFBFF;
  min-height: 100vh;
  display: flex;
  justify-content: center; 
}

.containerIlustration {
  display: none;
}

@media screen and (min-width: 480px) {
  .containerIlustration {
    padding: 0 10px;
    display: block;
    width: 40%; 
  }
}

.ilustration {
  margin-top: 48px;
}

.containerForm {
  background-color: #fff;
  min-height: 80vh;
  padding: 20px;
  min-width: 300px;
  min-height: 100%;
}

@media screen and (min-width: 768px) {
  .containerForm {
    padding: 20px 40px;
    min-width: 450px;
  }
}

