.buttonAnchor {
  min-width: 100%;
  text-align: left;
  color: #346EDF;
  font-size: 15px;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  padding: 0; 
  margin-top: 8px;

  &:hover {
    cursor: pointer;
  }
}
